body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: #f0f0f0;
}

h1 {
      margin-bottom: 20px;
      color: #333;
}

form {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
      margin-bottom: 10px;
      font-size: 1.2em;
  }

  input[type="file"] {
      margin-bottom: 20px;
  }

  input[type="submit"] {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }

  input[type="submit"]:hover {
      background-color: #45a049;
  }